<h4>Resource</h4>

<p>Industry: {{industryName}}</p>

<ul>
  <li><a href="#" {{action 'changeIndustry' 1}}>Industry A</a></li>
  <li><a href="#" {{action 'changeIndustry' 0}}>No Industry</a></li>
  <li><a href="#" {{action 'changeIndustry' 2}}>Industry B</a></li>
</ul>