<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="737px" height="388px" viewBox="0 0 737 388" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.0.2 (7799) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <description>Created with Sketch.</description>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.356862745   0 0 0 0 0.725490196   0 0 0 0 0.768627451  0 0 0 0.140483469 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Group" sketch:type="MSLayerGroup" transform="translate(0.000000, 3.000000)">
            <g id="Horizontal-Rule-+-Vertical-Rule" transform="translate(38.000000, 5.000000)" stroke="#979797" sketch:type="MSShapeGroup">
                <g id="Horizontal-Rule" transform="translate(349.000000, 180.000000) scale(1, -1) translate(-349.000000, -180.000000) ">
                    <path d="M0.569656808,329.258357 L698.257754,329.258357" id="Path-2"></path>
                    <path d="M0.569656808,60.5118384 L698.257754,60.5118384" id="Path-13"></path>
                    <path d="M0.569656808,60.5118384 L698.257754,60.5118384" id="Path-14"></path>
                    <path d="M0.569656808,300.177577 L698.257754,300.177577" id="Path-3"></path>
                    <path d="M0.569656808,270.094011 L698.257754,270.094011" id="Path-4"></path>
                    <path d="M0.569656808,240.010446 L698.257754,240.010446" id="Path-5"></path>
                    <path d="M0.569656808,209.92688 L698.257754,209.92688" id="Path-6"></path>
                    <path d="M0.569656808,179.843315 L698.257754,179.843315" id="Path-7"></path>
                    <path d="M0.570770745,149.759749 L698.258868,149.759749" id="Path-8"></path>
                    <path d="M0.570770745,119.676184 L698.258868,119.676184" id="Path-9"></path>
                    <path d="M0.569656808,89.5926184 L698.257754,89.5926184" id="Path-10"></path>
                    <path d="M0.569656808,359.341922 L698.257754,359.341922" id="Path-11"></path>
                    <path d="M0.569656808,31.4310585 L698.257754,31.4310585" id="Path-12"></path>
                    <path d="M0.569656808,1.34749304 L698.257754,1.34749304" id="Path-15"></path>
                </g>
                <g id="Vertical-Rule" transform="translate(350.000000, 180.000000) rotate(-270.000000) translate(-350.000000, -180.000000) translate(170.000000, -170.000000)">
                    <path d="M0.29346887,651.939054 L359.719943,651.939054" id="Path-2"></path>
                    <path d="M0.29346887,230.924562 L359.719943,230.924562" id="Path-13"></path>
                    <path d="M0.29346887,185.272388 L359.719943,185.272388" id="Path-14"></path>
                    <path d="M0.29346887,605.018765 L359.719943,605.018765" id="Path-3"></path>
                    <path d="M0.29346887,558.098475 L359.719943,558.098475" id="Path-4"></path>
                    <path d="M0.29346887,511.178185 L359.719943,511.178185" id="Path-5"></path>
                    <path d="M0.29346887,464.257895 L359.719943,464.257895" id="Path-6"></path>
                    <path d="M0.29346887,417.337605 L359.719943,417.337605" id="Path-7"></path>
                    <path d="M0.294042735,370.417315 L359.720517,370.417315" id="Path-8"></path>
                    <path d="M0.294042735,323.497025 L359.720517,323.497025" id="Path-9"></path>
                    <path d="M0.29346887,276.576736 L359.719943,276.576736" id="Path-10"></path>
                    <path d="M0.29346887,698.787791 L359.719943,698.787791" id="Path-11"></path>
                    <path d="M0.29346887,139.620214 L359.719943,139.620214" id="Path-12"></path>
                    <path d="M0.29346887,93.9680399 L359.719943,93.9680399" id="Path-16"></path>
                    <path d="M0.29346887,48.315866 L359.719943,48.315866" id="Path-17"></path>
                    <path d="M0.29346887,2.6636921 L359.719943,2.6636921" id="Path-18"></path>
                </g>
            </g>
            <g id="Y-Axis-Labels" font-size="12" font-family="Helvetica" fill="#000000" sketch:type="MSTextLayer" font-weight="normal">
                <text id="$1">
                    <tspan x="0" y="337.166384">$1</tspan>
                </text>
                <text id="$2">
                    <tspan x="0" y="309">$2</tspan>
                </text>
                <text id="$3">
                    <tspan x="0" y="280">$3</tspan>
                </text>
                <text id="$4">
                    <tspan x="0" y="253">$4</tspan>
                </text>
                <text id="$5">
                    <tspan x="0" y="222">$5</tspan>
                </text>
                <text id="$6">
                    <tspan x="0" y="192">$6</tspan>
                </text>
                <text id="$7">
                    <tspan x="0" y="162">$7</tspan>
                </text>
                <text id="$8">
                    <tspan x="0" y="132">$8</tspan>
                </text>
                <text id="$9">
                    <tspan x="0" y="101">$9</tspan>
                </text>
                <text id="$10">
                    <tspan x="0" y="72">$10</tspan>
                </text>
                <text id="$11">
                    <tspan x="0" y="41.2559524">$11</tspan>
                </text>
                <text id="$12">
                    <tspan x="0" y="11.2559524">$12</tspan>
                </text>
            </g>
            <g id="X-Axis-Labels" transform="translate(29.242188, 372.742188)" font-weight="normal" font-family="Helvetica" fill="#000000" font-size="12" sketch:alignment="middle" sketch:type="MSTextLayer">
                <text id="0">
                    <tspan x="6.66308594" y="11">0</tspan>
                </text>
                <text id="1">
                    <tspan x="52.6630859" y="11">1</tspan>
                </text>
                <text id="2">
                    <tspan x="101.663086" y="11">2</tspan>
                </text>
                <text id="3">
                    <tspan x="146.663086" y="11">3</tspan>
                </text>
                <text id="4">
                    <tspan x="193.663086" y="11">4</tspan>
                </text>
                <text id="5">
                    <tspan x="242.663086" y="11">5</tspan>
                </text>
                <text id="6">
                    <tspan x="288.663086" y="11">6</tspan>
                </text>
                <text id="7">
                    <tspan x="335.663086" y="11">7</tspan>
                </text>
                <text id="8">
                    <tspan x="383.663086" y="11">8</tspan>
                </text>
                <text id="9">
                    <tspan x="429.663086" y="11">9</tspan>
                </text>
                <text id="10">
                    <tspan x="470.326172" y="11">10</tspan>
                </text>
                <text id="11">
                    <tspan x="516.768555" y="11">11</tspan>
                </text>
                <text id="12">
                    <tspan x="561.326172" y="11">12</tspan>
                </text>
                <text id="13">
                    <tspan x="608.326172" y="11">13</tspan>
                </text>
                <text id="14">
                    <tspan x="653.326172" y="11">14</tspan>
                </text>
            </g>
            <path d="M56.0859375,3.45703125 L85.1875,35.109375 L133.597656,125.105469 L181.078125,155.691406 L227.042969,186.242188 L275.523438,215.929687 L321.261719,246 L368.675781,276.753906 L415,305.734375 L462.292969,334.21875 L691.953125,333.476562" id="Supply-and-Demand-Curve" stroke-opacity="0.72" stroke="#5BB9C4" stroke-width="10" stroke-linecap="round" stroke-linejoin="bevel" filter="url(#filter-1)" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>