@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import '../../vendor/normalize.css/normalize.css';

@import 'colors';
@import 'container';
@import 'fonts';
@import 'resource';

.supply-demand-grid svg {
  margin: 0 auto;
}

.industry-overview{
  position: relative;
  width: 100.00%;
}
.industry-panel {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  width: 33%;
  float: left;
  & ul {
    padding-left: 1rem;
  }
}