@import 'colors';

.societal-benefit, .industry-overview {
  text-align: center;
  margin-bottom: 2rem;
}

.industry-panel {
  background-color: $pale;
  border-radius: 5px;
  min-height: 160px;
  & .amount {
    font-size: 2em;
    font-weight: 400;
    margin: 0.5rem 0;
  }
}
