@import 'colors';

$resource-width: 150px;
$resource-height: 65px;
$header-height: 40px;
$industry-selector-width: 35px;
$industry-none-selector-width: $resource-width - ($industry-selector-width * 2);

.resource {
  display: inline-block;
  height: $resource-height;
  position: relative;
  width: $resource-width;
  margin: 0 31px 1.5rem 0;
  background: #FFF;
  border: 5px solid darken(#FFF, 10);
  -moz-box-shadow: 2px 2px 4px 0px darken(#FFF, 70), inset 1px 1px 3px 0px darken(#FFF, 70);
  box-shadow: 2px 2px 4px 0px darken(#FFF, 70), inset 1px 1px 3px 0px darken(#FFF, 70);
  &:nth-child(4n+2) {
    margin: 0 0 1.5rem 0;
  }
}

.resource a {
  text-decoration: none;
}

.industry-selection {
  background-color: #FFF;
  margin: 0 0 10px 0;
  text-align: center;
  line-height: $header-height;
}

.industry-selectors {

}

.industry-selector {
  color: white;
  position: absolute;
  top: $header-height;
  text-align: center;
  line-height: 25px;
}

.industry-selector-a {
  background-color: $cobalt;
  left: 0px;
  width: 35px;
}

.industry-selector-b {
  background-color: $red;
  left: 115px;
  width: 35px;
}

.industry-selector-none {
  background-color: #FFF;
  color: darken(#FFF, 50);
  width: 80px;
  left: 35px;
}

@mixin selected-industry($color) {
  border: 5px solid darken($color, 10);
  & .industry-selection {
    background-color: lighten($color, 30);
  }
  & .industry-selector-none {
    background-color: lighten($color, 30);
  }
}

.resource.industry-a {
  @include selected-industry($cobalt);
}

.resource.industry-b {
  @include selected-industry($red);
}