@import 'colors';

$resource-width: 160px;
$resource-height: 65px;
$header-height: 40px;
$industry-selector-width: 35px;
$industry-none-selector-width: $resource-width - ($industry-selector-width * 2);

.resources {
  text-align: center;
}

.resource {
  display: inline-block;
  height: $resource-height;
  position: relative;
  width: $resource-width;
  margin: 0 10px 1.5rem 10px;
  background: #FFF;
  border: 1px solid darken(#FFF, 10);
  &:hover {
    border: 1px solid darken(#FFF, 15);
  }
}

.resource a {
  text-decoration: none;
}

.industry-selection {
  background-color: #FFF;
  margin: 0 0 10px 0;
  text-align: center;
  line-height: $header-height;
}

.industry-selectors {

}

.industry-selector {
  color: white;
  position: absolute;
  top: $header-height;
  text-align: center;
  line-height: 25px;
}

.industry-selector-a {
  background-color: $cobalt;
  left: 0px;
  width: $industry-selector-width;
  &:hover {
    background-color: darken($cobalt, 20);
  }
}

.industry-selector-b {
  background-color: $red;
  left: $resource-width - $industry-selector-width;
  width: $industry-selector-width;
  &:hover {
    background-color: darken($red, 20);
  }
}

.industry-selector-none {
  background-color: #FFF;
  color: darken(#FFF, 50);
  width: $industry-none-selector-width;
  left: $industry-selector-width;
  &:hover {
    background-color: darken(#FFF, 10);
  }
}

@mixin selected-industry($color) {
  border: 1px solid darken($color, 10);
  & .industry-selection {
    background-color: lighten($color, 30);
  }
  & .industry-selector-none {
    background-color: lighten($color, 30);
  }
}

.resource.industry-a {
  @include selected-industry($cobalt);
}

.resource.industry-b {
  @include selected-industry($red);
}
